.wrapper {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: auto;
}
.mobileOn {
    display: none;
}
.moreLink {
    color: #2773DD;
    text-decoration: underline;
}
.readmore-js-section {
    margin-bottom: 0px;
}

